useDynLib(squirrygis, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

importFrom(
  "methods", 
  "is"
)

# min() and max() are base functions and just called from raster.
importFrom(
  "raster",
  "raster", "stack",
  "nlayers", 
  "values", "minValue", "maxValue", "mean",
  "crs", "crs<-", "extent", "extent<-"
)